:root{
  --primary: #1D3353;
  --secondary: #EEE4BD;
}

body {
  margin: 0;
  width: 100vw;
  background-color: var(--secondary) !important;
  font-family: "Michroma",serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  text-align: center !important;
    font-size: 3rem !important;
    margin-bottom: 3rem !important;
    color: #1D3353 !important;
}

.title-font{
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
}

.primary-font{
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}
.secondary-font{
  font-family: "Catamaran", serif;
  font-optical-sizing: auto;
  font-style: normal;
}